<div class="container">
  <div class="row centered-form">
  <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
       </div>
       <div class="panel-body">
        <form [formGroup]="signupForm">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div class="control">
                <input class="input" formControlName="email" placeholder="Email">
              </div>
            </div>
          </div>

          <div class="control">
            <input class="input" (keyup)="f.password.valid ? toggleFormState('confirmPassword', confirmPassword, true) : toggleFormState('confirmPassword', confirmPassword,false)"
            formControlName="password" placeholder="Password">
          </div>

          <div class="control">
            <input class="input" (keyup)="!f.confirmPassword.valid ? showConfirmError = true : showConfirmError = false" 
            formControlName="confirmPassword" placeholder="Confirm Password">
              <div *ngIf="showConfirmError && f.confirmPassword.value.length > 0">
                Password does not match
             </div>
          </div>
          
          <div class="control">
            <button class="button is-link is-small">Submit</button>
          </div>
        
        </form>
      </div>
    </div>
  </div>
</div>
</div>